@import 'variables';

.menu-btn{
  position: fixed;
  top: 5vh;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: none;
  border-radius: 100%;
  background-color: $color2;
  border: 2px solid $color1;
  z-index: 9;
}
.menu-btn__burguer{
  width: 50px;
  height: 6px;
  background-color: $color1;
  border-radius: 5px; 
}
.menu-btn__burguer::before,
.menu-btn__burguer::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: $color1;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burguer::before{
  transform: translateY(-16px);
}
.menu-btn__burguer::after{
  transform: translateY(16px);
}
.menu-btn.desactive{
  display: none !important;
}

.menu-btn.open .menu-btn__burguer{
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burguer::before{
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burguer::after{
  transform: rotate(-45deg) translate(35px, 35px);
}