@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');

$font-family: 'Doppio One';
$letraG: 4rem;
$letraM: 3rem;
$letraC: 2rem;
$color1: #000000;
$color2: #1d6fef;
$margen: 6% 6%;
