@import "presentacion";
@import "sobre_mi";
@import "proyectos";
@import "variables";
@import "contacto";
@import "btnResponsiveMenu";

* {
  margin: 0%;
  padding: 0%;
  font-family: "Doppio One";
}
body{
  background-color: $color1;
  overflow-x: hidden;
}
